
        
{% extends "jetpro/layouts/base.html" %}
<html lang="en">
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}
{% block title %} {{systemmailtemplateimportdata.name}} | {{pagename}} {% endblock%}
{% block page_name %} {{pagename}} {% endblock%}
{% block breadcrumbs %}
<!--begin::Breadcrumb-->
<ul class="breadcrumb fw-semibold fs-base">

    {% for bc in breadcrumbs|slice:":-1"%}
    <li class="breadcrumb-item text-muted">
        {%if bc.link%}
        <a href="{{bc.link}}" class="text-muted">{{bc.name}}</a>
        {%else%}
        {{bc.name}}
        {%endif%}
    </li>
    {%endfor%}
    {% with breadcrumbs|last as bclast %}

    <li class="breadcrumb-item text-dark">
        {{bclast.name}}
    </li>
    {% endwith %}
</ul>
<!--end::Breadcrumb-->
{% endblock %}
{% block javascripts %}

<script src="{% static 'SentMailManagement/'|add:website_template|add:'/admin/js/SentMailManagement_Const.js' %}"></script>
<script src="{% static 'SentMailManagement/'|add:website_template|add:'/admin/js/SystemMailTemplateImportData/SystemMailTemplateImportData_Datatable.js' %}"></script>
<script src="{% static 'SentMailManagement/'|add:website_template|add:'/admin/js/SystemMailTemplateImportData/SystemMailTemplateImportData_Classes.js' %}"></script>
<script src="{% static 'SentMailManagement/'|add:website_template|add:'/admin/js/SystemMailTemplateImportData/SystemMailTemplateImportData_Edit.js' %}"></script>

            
<script src="{% static 'SentMailManagement/'|add:website_template|add:'/admin/js/SentMailManagement_Const.js' %}"></script>


<script src="{% static 'SentMailManagement/'|add:website_template|add:'/admin/js/SystemMailTemplateImportStatus/SystemMailTemplateImportStatus_ListClasses.js' %}"></script>


{% endblock %}
{% block content %}

{% load i18n %}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid pt-0" id="mps_content">
    <!--begin::Container-->
    <div class="container-xxl" id="mps_content_container">
        <form id="SystemMailTemplateImportDataSentMailManagementEditId_form" class="form d-flex row flex-lg-row" data-kt-redirect="" obj_uuid="{{systemmailtemplateimportdata.uuid}}">
            <!--begin::Main column-->
            
            <div class="col-xl-12">
                
<!--begin::Input group-->
<div class="fv-row mb-7 col-6 d-none">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2 ">
        <span class="">{% translate 'UUID' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7" data-bs-toggle="tooltip" title="{% translate 'Mã hệ thống' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->
    <input type="text" id="uuidSystemMailTemplateImportDataSentMailManagementEditInputId" disabled class="form-control " placeholder="{% translate '' %}" name="uuid" value="" />
    <!--end::Input-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate 'Mã hệ thống' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->


<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2">
        <span class="required">{% translate 'Tên' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7 " data-bs-toggle="tooltip" title="{% translate '' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->
    <input type="text" id="nameSystemMailTemplateImportDataSentMailManagementEditInputId"  class="form-control " placeholder="{% translate '' %}" name="name" value="" />
    <!--end::Input-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->


<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2">
        <span class="required">{% translate 'Mã' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7 " data-bs-toggle="tooltip" title="{% translate '' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->
    <input type="text" id="codeSystemMailTemplateImportDataSentMailManagementEditInputId"  class="form-control " placeholder="{% translate '' %}" name="code" value="" />
    <!--end::Input-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->


<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2">
        <span class="required">{% translate 'Mã' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7 " data-bs-toggle="tooltip" title="{% translate '' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->
    <input type="text" id="friendly_codeSystemMailTemplateImportDataSentMailManagementEditInputId"  class="form-control " placeholder="{% translate '' %}" name="friendly_code" value="" />
    <!--end::Input-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->



<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2">
        <span class="required">{% translate 'Thời điểm tạo' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7" data-bs-toggle="tooltip" title="{% translate '' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->

    <input class="form-control " placeholder="DD/MM/YYYY HH:mm" format="DD/MM/YYYY HH:mm" data-datepicker="" name="created_at" value="djnow" id="created_atSystemMailTemplateImportDataSentMailManagementEditInputId"  />
    <!--end::Input-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->



<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2">
        <span class="required">{% translate 'Thời điểm cập nhật' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7" data-bs-toggle="tooltip" title="{% translate '' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->

    <input class="form-control " placeholder="DD/MM/YYYY HH:mm" format="DD/MM/YYYY HH:mm" data-datepicker="" name="updated_at" value="djnow" id="updated_atSystemMailTemplateImportDataSentMailManagementEditInputId"  />
    <!--end::Input-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->


<!--begin::Input group-->
<div class="fv-row mb-7 col-6 ">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2">
        <span class="required">{% translate 'Tệp dữ liệu' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7 " data-bs-toggle="tooltip" title="{% translate '' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->
    <input type="file" id="fileSystemMailTemplateImportDataSentMailManagementEditInputId"  class="form-control " placeholder="{% translate '' %}" name="file" value="" />
    <!--end::Input-->
    <!--begin::Description-->
    <div class="fv-row mb-7 col-12 " id="fileSystemMailTemplateImportDataSentMailManagementEditInputIdFileAreaId">
        
    </div>
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->


<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2">
        <span class="required">{% translate 'Số lượng dữ liệu tải lên' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7" data-bs-toggle="tooltip" title="{% translate '' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->
    <input type="number" id="total_record_numberSystemMailTemplateImportDataSentMailManagementEditInputId"  class="form-control " placeholder="{% translate '' %}" name="total_record_number" value="" />
    <!--end::Input-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->



<!--begin::Input group-->
<div class="d-flex flex-column mb-7 fv-row col-6">
    <!--begin::Input-->
   <label class="form-check form-switch form-check-custom form-check-solid">
    <input class="form-check-input w-30px h-20px" type="checkbox" value="False"  id="is_import_failedSystemMailTemplateImportDataSentMailManagementEditInputId" checked="False" name="is_import_failed" />
    <span class="form-check-label text-muted fs-7">{% translate 'Tải lên lỗi' %}</span>
    </label>
<!--end::Input-->

    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->



<!--begin::Input group-->
<div class="d-flex flex-column mb-7 fv-row col-6">
    <!--begin::Input-->
   <label class="form-check form-switch form-check-custom form-check-solid">
    <input class="form-check-input w-30px h-20px" type="checkbox" value="True"  id="is_import_successSystemMailTemplateImportDataSentMailManagementEditInputId" checked="True" name="is_import_success" />
    <span class="form-check-label text-muted fs-7">{% translate 'Tải thành công' %}</span>
    </label>
<!--end::Input-->

    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->



<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2">
        <span class="required">{% translate 'dữ liệu tải lên(json)' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7" data-bs-toggle="tooltip" title="{% translate '' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->
    <!--end::Input-->
    <!--begin::Input group-->
        <!--begin::Editor-->
            <div id="json_import_dataSystemMailTemplateImportDataSentMailManagementEditInputId_toolbar"></div>
            <div id="json_import_dataSystemMailTemplateImportDataSentMailManagementEditInputId"></div>    
        <!--end::Editor-->
        <!--begin::Description-->
        <div class="text-muted fs-7">{% translate '' %}</div>
        <!--end::Description-->
    <!--end::Input group-->
    <textarea name="json_import_data" id="json_import_dataSystemMailTemplateImportDataSentMailManagementEditInputId_textareaId" class="form-control  rounded-3 d-none" ></textarea>    

</div>
<!--end::Input group-->



<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2">
        <span class="required">{% translate 'dữ liệu không thỏa mãn yêu cầu' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7" data-bs-toggle="tooltip" title="{% translate '' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->
    <!--end::Input-->
    <!--begin::Input group-->
        <!--begin::Editor-->
            <div id="json_check_validationSystemMailTemplateImportDataSentMailManagementEditInputId_toolbar"></div>
            <div id="json_check_validationSystemMailTemplateImportDataSentMailManagementEditInputId"></div>    
        <!--end::Editor-->
        <!--begin::Description-->
        <div class="text-muted fs-7">{% translate '' %}</div>
        <!--end::Description-->
    <!--end::Input group-->
    <textarea name="json_check_validation" id="json_check_validationSystemMailTemplateImportDataSentMailManagementEditInputId_textareaId" class="form-control  rounded-3 d-none" ></textarea>    

</div>
<!--end::Input group-->



<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2">
        <span class="required">{% translate 'dữ liệu bị lỗi' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7" data-bs-toggle="tooltip" title="{% translate '' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->
    <!--end::Input-->
    <!--begin::Input group-->
        <!--begin::Editor-->
            <div id="json_fail_dataSystemMailTemplateImportDataSentMailManagementEditInputId_toolbar"></div>
            <div id="json_fail_dataSystemMailTemplateImportDataSentMailManagementEditInputId"></div>    
        <!--end::Editor-->
        <!--begin::Description-->
        <div class="text-muted fs-7">{% translate '' %}</div>
        <!--end::Description-->
    <!--end::Input group-->
    <textarea name="json_fail_data" id="json_fail_dataSystemMailTemplateImportDataSentMailManagementEditInputId_textareaId" class="form-control  rounded-3 d-none" ></textarea>    

</div>
<!--end::Input group-->



<!--begin::Input group-->
<div class="d-flex flex-column mb-7 fv-row col-6">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2">
        <span class="required">{% translate 'Trạng thái tải lên' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7" data-bs-toggle="tooltip" title="{% translate '' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->
    <select class="form-select  sentmailmanagement-systemmailtemplateimportstatus-select"  data-control="select2" data-allow-clear="true" data-placeholder="Lựa chọn {% translate 'Trạng thái tải lên' %}" name="import_status" id="import_statusSystemMailTemplateImportDataSentMailManagementEditInputId" data-dropdown-parent="#SystemMailTemplateImportDataSentMailManagementEditId_form">

            <option></option>
    </select>
    <!--end::Input-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->

            </div>            
            <div class="col-xl-12 d-flex flex-column">
                <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                    <div class="d-flex justify-content-end">
                        <!--begin::Button-->
                        <a href="#" id="SystemMailTemplateImportDataSentMailManagementEdit_cancel" class="btn btn-light me-5" systemmailtemplateimportdatasentmailmanagement-edit-action="cancel">Hủy</a>
                        <!--end::Button-->
                        <!--begin::Button-->
                        <button type="submit" id="SystemMailTemplateImportDataSentMailManagementEdit_submit" class="btn btn-primary" systemmailtemplateimportdatasentmailmanagement-edit-action="submit">
                            <span class="indicator-label">Cập nhật</span>
                            <span class="indicator-progress">Đang cập nhật...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                        <!--end::Button-->
                    </div>
                </div>
            </div>            
            <!--end::Main column-->
        </form>
    </div>
    <!--end::Container-->
</div>
<!--end::Content-->

{% endblock %}
        