
        
{% load static %}
{% load i18n %}
{% load tz %}
{% load humanize %}


{% load i18n %}
                   
<!--begin::Modal - Add task-->
	<div class="modal fade" id="SystemMailServerConfigSentMailManagementDetailModalId" tabindex="-1" aria-hidden="true">
		<!--begin::Modal dialog-->
		<div class="modal-dialog modal-dialog-centered mw-1000px">
			<!--begin::Modal content-->
			<div class="modal-content">
				<!--begin::Modal header-->
				<div class="modal-header py-3" id="SystemMailServerConfigSentMailManagementDetailModalId_header">
					<!--begin::Modal title-->
					<h2 class="fw-bold">{% translate 'Xem chi tiết Cấu hình email server' %}</h2>
					<!--end::Modal title-->
					<!--begin::Close-->
					<div class="btn btn-icon btn-sm btn-active-icon-primary"  systemmailserverconfigsentmailmanagement-detail-modal-action="close">
						<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
						<span class="svg-icon svg-icon-1">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
								<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
							</svg>
						</span>
						<!--end::Svg Icon-->
					</div>
					<!--end::Close-->
				</div>
				<!--end::Modal header-->
				<!--begin::Modal body-->
				<div class="modal-body mx-5 mx-xl-15">
					<!--begin::Form-->
					<form id="SystemMailServerConfigSentMailManagementDetailModalId_form" class="form" action="#">
						{% csrf_token %}
						<!--begin::Scroll-->
						<div class="d-flex flex-column scroll-y me-n7 pe-7" id="SystemMailServerConfigSentMailManagementDetailModalId_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#SystemMailServerConfigSentMailManagementCreateModalId_header" data-kt-scroll-wrappers="#SystemMailServerConfigSentMailManagementCreateModalId_scroll" data-kt-scroll-offset="300px">
							<div class="row">
<!--begin::Input group-->
<div class="fv-row mb-7 col-6 d-none">
    <!--begin::Label-->
    <label class="fs-6 fw-semibold mb-2 ">
        <span class="">{% translate 'UUID' %}</span>
        <i class="fas fa-exclamation-circle d-none ms-1 fs-7" data-bs-toggle="tooltip" title="{% translate 'Mã hệ thống' %}"></i>
    </label>
    <!--end::Label-->
    <!--begin::Input-->
    <input type="text" id="uuidSystemMailServerConfigSentMailManagementDetailModalInputId" disabled class="form-control " placeholder="{% translate '' %}" name="uuid" value="" />
    <!--end::Input-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate 'Mã hệ thống' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->


<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Details item-->
    <div class="fw-bold mt-5">{% translate 'Tên' %}</div>
    {% if systemmailserverconfig.name%}
        <div class="text-gray-600" name="name" id="nameSystemMailServerConfigSentMailManagementDetailModalInputId">{{systemmailserverconfig.name}}</div>
    {%else%}
        <div class="text-gray-600" name="name" id="nameSystemMailServerConfigSentMailManagementDetailModalInputId">trống</div>
    {%endif%}
    <!--begin::Details item-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->


<!--begin::Input group-->
{% comment %} <div class="fv-row mb-7 col-6">
    <!--begin::Details item-->
    <div class="fw-bold mt-5">{% translate 'Mã' %}</div>
    {% if systemmailserverconfig.code%}
        <div class="text-gray-600" name="code" id="codeSystemMailServerConfigSentMailManagementDetailModalInputId">{{systemmailserverconfig.code}}</div>
    {%else%}
        <div class="text-gray-600" name="code" id="codeSystemMailServerConfigSentMailManagementDetailModalInputId">trống</div>
    {%endif%}
    <!--begin::Details item-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div> {% endcomment %}
<!--end::Input group-->


<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Details item-->
    <div class="fw-bold mt-5">{% translate 'Mã' %}</div>
    {% if systemmailserverconfig.friendly_code%}
        <div class="text-gray-600" name="friendly_code" id="friendly_codeSystemMailServerConfigSentMailManagementDetailModalInputId">{{systemmailserverconfig.friendly_code}}</div>
    {%else%}
        <div class="text-gray-600" name="friendly_code" id="friendly_codeSystemMailServerConfigSentMailManagementDetailModalInputId">trống</div>
    {%endif%}
    <!--begin::Details item-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->





<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Details item-->
    <div class="fw-bold mt-5">{% translate 'Host' %}</div>
    {% if systemmailserverconfig.host%}
        <div class="text-gray-600" name="host" id="hostSystemMailServerConfigSentMailManagementDetailModalInputId">{{systemmailserverconfig.host}}</div>
    {%else%}
        <div class="text-gray-600" name="host" id="hostSystemMailServerConfigSentMailManagementDetailModalInputId">trống</div>
    {%endif%}
    <!--begin::Details item-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->


<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Details item-->
    <div class="fw-bold mt-5">{% translate 'Port' %}</div>
    {% if systemmailserverconfig.port%}
        <div class="text-gray-600" name="port" id="portSystemMailServerConfigSentMailManagementDetailModalInputId">{{systemmailserverconfig.port}}</div>
    {%else%}
        <div class="text-gray-600" name="port" id="portSystemMailServerConfigSentMailManagementDetailModalInputId">trống</div>
    {%endif%}
    <!--begin::Details item-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->


<!--begin::Input group-->
{% comment %} <div class="fv-row mb-7 col-6">
    <!--begin::Details item-->
    <div class="fw-bold mt-5">{% translate 'Port SMTP' %}</div>
    {% if systemmailserverconfig.port_smtp%}
        <div class="text-gray-600" name="port_smtp" id="port_smtpSystemMailServerConfigSentMailManagementDetailModalInputId">{{systemmailserverconfig.port_smtp}}</div>
    {%else%}
        <div class="text-gray-600" name="port_smtp" id="port_smtpSystemMailServerConfigSentMailManagementDetailModalInputId">trống</div>
    {%endif%}
    <!--begin::Details item-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div> {% endcomment %}
<!--end::Input group-->


<!--begin::Input group-->
<div class="fv-row mb-7 col-6">
    <!--begin::Details item-->
    <div class="fw-bold mt-5">{% translate 'Giới hạn gửi' %}</div>
    {% if systemmailserverconfig.limit_sending%}
        <div class="text-gray-600" name="limit_sending" id="limit_sendingSystemMailServerConfigSentMailManagementDetailModalInputId">{{systemmailserverconfig.limit_sending}}</div>
    {%else%}
        <div class="text-gray-600" name="limit_sending" id="limit_sendingSystemMailServerConfigSentMailManagementDetailModalInputId">trống</div>
    {%endif%}
    <div class="text-gray-600" name="limit_sending" id="limit_sendingSystemMailServerConfigSentMailManagementDetailModalInputId"></div>
    <!--begin::Details item-->
    <!--begin::Description-->
    <!--end::Description-->
</div>
<!--end::Input group-->

<!--begin::Input group-->
<div class="d-flex flex-column mb-7 fv-row col-6">
    <!--begin::Input-->
   <label class="form-check form-switch form-check-custom form-check-solid">
    <input class="form-check-input w-30px h-20px" type="checkbox" value="" disabled id="is_sslSystemMailServerConfigSentMailManagementDetailModalInputId" checked="" name="is_ssl" />
    <span class="form-check-label text-muted fs-7">{% translate 'SSL' %}</span>
    </label>
<!--end::Input-->

    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->



<!--begin::Input group-->
<div class="d-flex flex-column mb-7 fv-row col-6 d-none">
    <!--begin::Details item-->
        <div class="fw-bold mt-5">{% translate 'Tổ chức' %}</div>
        {% if systemmailserverconfig.organization%}
        
            <div class="text-gray-600" name="organization" id="organizationSystemMailServerConfigSentMailManagementDetailModalInputId">
                <a href="{{org_app_prefix}}/SystemOrganizationManagement/Organization/detail/{{systemmailserverconfig.organization.uuid}}/" class="text-gray-600 text-hover-primary" name="organization" id="organizationSystemMailServerConfigSentMailManagementDetailModalInputId">{{systemmailserverconfig.organization.name}}</a>
            </div>
        {%else%}
            <div class="text-gray-600" name="organization" id="organizationSystemMailServerConfigSentMailManagementDetailModalInputId">trống</div>
        {%endif%}
        <!--begin::Details item-->
        <!--begin::Description-->
        <div class="text-muted fs-7">{% translate '' %}</div>
        <!--end::Description-->
    </div>
<!--end::Input group-->



<!--begin::Input group-->
<div class="d-flex flex-column mb-7 fv-row col-6">
    <!--begin::Input-->
   <label class="form-check form-switch form-check-custom form-check-solid">
    <input class="form-check-input w-30px h-20px" type="checkbox" value="True" disabled id="is_defaultSystemMailServerConfigSentMailManagementDetailModalInputId" checked="True" name="is_default" />
    <span class="form-check-label text-muted fs-7">{% translate 'Mặc định' %}</span>
    </label>
<!--end::Input-->

    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->



<!--begin::Input group-->
{% comment %} <div class="d-flex flex-column mb-7 fv-row col-6">
<!--begin::Details item-->
    <div class="fw-bold mt-5">{% translate 'Người tạo' %}</div>
    {% if systemmailserverconfig.hr_created_by%}
    
        <div class="text-gray-600" name="hr_created_by" id="hr_created_bySystemMailServerConfigSentMailManagementDetailModalInputId">
            <a href="{{org_app_prefix}}/HRAccountManagement/HRAccount/detail/{{systemmailserverconfig.hr_created_by.uuid}}/" class="text-gray-600 text-hover-primary" name="hr_created_by" id="hr_created_bySystemMailServerConfigSentMailManagementDetailModalInputId">{{systemmailserverconfig.hr_created_by.name}}</a>
        </div>
    {%else%}
        <div class="text-gray-600" name="hr_created_by" id="hr_created_bySystemMailServerConfigSentMailManagementDetailModalInputId">trống</div>
    {%endif%}
    <!--begin::Details item-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div> {% endcomment %}
<!--end::Input group-->


<!--begin::Input group-->
{% comment %} <div class="d-flex flex-column mb-7 fv-row col-6">
    <!--begin::Input-->
   <label class="form-check form-switch form-check-custom form-check-solid">
    <input class="form-check-input w-30px h-20px" type="checkbox" value="True" disabled id="activeSystemMailServerConfigSentMailManagementDetailModalInputId" checked="True" name="active" />
    <span class="form-check-label text-muted fs-7">{% translate 'Hoạt động' %}</span>
    </label>
<!--end::Input-->

    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div> {% endcomment %}
<!--end::Input group-->



<!--begin::Input group-->
{% comment %} <div class="fv-row mb-7 col-6">
    <!--begin::Details item-->
    <div class="fw-bold mt-5">{% translate 'Thời điểm cập nhật' %}</div>
    {% if systemmailserverconfig.updated_at%}
        <div class="text-gray-600" name="updated_at" id="updated_atSystemMailServerConfigSentMailManagementDetailModalInputId">{{systemmailserverconfig.updated_at|date:'d-m-Y H:i'}}</div>
    {%else%}
        <div class="text-gray-600" name="updated_at" id="updated_atSystemMailServerConfigSentMailManagementDetailModalInputId">trống</div>
    {%endif%}
    <!--begin::Details item-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div> {% endcomment %}
<!--end::Input group-->





<!--begin::Input group-->
{% comment %} <div class="d-flex flex-column mb-7 fv-row col-6">
<!--begin::Details item-->
    <div class="fw-bold mt-5">{% translate 'Người cập nhật' %}</div>
    {% if systemmailserverconfig.hr_updated_by%}
    
        <div class="text-gray-600" name="hr_updated_by" id="hr_updated_bySystemMailServerConfigSentMailManagementDetailModalInputId">
            <a href="{{org_app_prefix}}/HRAccountManagement/HRAccount/detail/{{systemmailserverconfig.hr_updated_by.uuid}}/" class="text-gray-600 text-hover-primary" name="hr_updated_by" id="hr_updated_bySystemMailServerConfigSentMailManagementDetailModalInputId">{{systemmailserverconfig.hr_updated_by.name}}</a>
        </div>
    {%else%}
        <div class="text-gray-600" name="hr_updated_by" id="hr_updated_bySystemMailServerConfigSentMailManagementDetailModalInputId">trống</div>
    {%endif%}
    <!--begin::Details item-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div> {% endcomment %}
<!--end::Input group-->
<!--begin::Input group-->
<div class="fv-row mb-7 col-6 d-none">
    <!--begin::Details item-->
    <div class="fw-bold mt-5">{% translate 'Thời điểm tạo' %}</div>
    {% if systemmailserverconfig.created_at%}
        <div class="text-gray-600" name="created_at" id="created_atSystemMailServerConfigSentMailManagementDetailModalInputId">{{systemmailserverconfig.created_at|date:'d-m-Y H:i'}}</div>
    {%else%}
        <div class="text-gray-600" name="created_at" id="created_atSystemMailServerConfigSentMailManagementDetailModalInputId">trống</div>
    {%endif%}
    <!--begin::Details item-->
    <!--begin::Description-->
    <div class="text-muted fs-7">{% translate '' %}</div>
    <!--end::Description-->
</div>
<!--end::Input group-->
</div>                 
						</div>
						<!--end::Scroll-->
						<!--begin::Actions-->
						<div class="text-center pt-8">
							<button type="reset" class="btn btn-light me-3" systemmailserverconfigsentmailmanagement-detail-modal-action="cancel">Hủy</button>
							
						</div>
						<!--end::Actions-->
					</form>
					<!--end::Form-->
				</div>
				<!--end::Modal body-->
			</div>
			<!--end::Modal content-->
		</div>
		<!--end::Modal dialog-->
	</div>
<!--end::Modal - Add task-->

        